* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.forma {
  text-align: center;
}

form {
  width: 600px;
  background: #4682B4;
  border-radius: 8px;
  margin: 50px auto;
  padding: 30px;
  min-height: 700px;
}

textarea {
  width: 300px;
  height: 100px;
  padding: 7px;
  border-radius: 5px;
}


